<div ng-controller="fortress.dashboard.controller">
    <form>
        <h2>Umbraco2FA</h2>
        <p>Umbraco 2FA is a two factor authentication solution for Umbraco 7.6+ by Offroadcode. With it you can configure your Umbraco site to utilize either Google Authenticator or an SMS provider to provide two factor authentication when logging into the Umbraco backoffice.</p>
        <h3>Setting Up Authentication</h3>
        <p>By default, Umbraco 2FA will be enabled with Google Authenticator. By navigating to the Umbraco2FA section in the back office, you can edit your 2FA options.</p>
        <p><a href="https://github.com/Offroadcode/Umbraco-2FA#setting-up-authentication" target="_blank">Link to Umbraco 2FA Setup Instructions</a></p>
    </form>
</div>