<form class="uProtect"
      name="twoFactorForm"
      ng-controller="fortress.twofactor.controller" 
      ng-submit="save()"
      val-form-manager>
    <umb-editor-view>
        <umb-header tabs="tabs">
            <div class="span7">
                <h1><localize key="sections_settings">Settings</localize></h1>
            </div>
        </umb-header>
        <umb-load-indicator ng-show="!settingsLoaded"></umb-load-indicator>
        <!-- Two Factor -->
        <umb-editor-container>
        <umb-tab-view ng-show="currentPage() == 'authenticator'">  
            <umb-pane>
                <umb-tab id="tabGoogleAuthenticator" rel="GoogleAuthenticator" class="active">             
                    <umb-control-group label="@SiteName">
                        <input type="text" name="TwoFactor.SiteName" ng-model="data.authenticatorSettings.Name" /> 
                    </umb-control-group>
                    <umb-control-group label="@Enabled">
                        <input type="checkbox" name="TwoFactor.Enabled" ng-model="data.authenticatorSettings.Enabled" /> 
                    </umb-control-group>
                </umb-tab>  
            </umb-pane>
        </umb-tab-view>
        <!-- SMS -->
        <umb-tab-view ng-show="currentPage() == 'sms'">  
            <umb-pane>
            <umb-tab id="tabSMS" rel="SMS" class="active">             
                <umb-control-group label="@MessageFormat">
                    <input type="text" name="SMS.MessageFormat" ng-model="data.smsSettings.MessageFormat" /> 
                </umb-control-group>
                <umb-control-group label="@ActiveSMSProvider">
                    <select ng-model="data.smsSettings.CurrentSMSProvider">
                        <option value="null">Select Provider</option>
                        <option ng-repeat="x in data.smsSettings.SMSProviders" value="{{x.Classname}}">{{x.Name}}</option>
                    </select>
                </umb-control-group>
                <umb-control-group label="@Enabled">
                    <input type="checkbox" name="SMS.Enabled" ng-model="data.smsSettings.Enabled" />
                </umb-control-group>
            </umb-tab>  
            </umb-pane>
        </umb-tab-view>  
        <!-- SMSProvider -->
        <umb-tab-view ng-show="currentPage() == 'smsProvider'">  
            <umb-pane>
                <umb-tab id="tabProvider" rel="Provider" class="active">          
                    <div ng-repeat="setting in data.smsProviders[getCurrentProvider()].Settings">   
                        <umb-control-group label="{{setting.Name}}">
                            <input type="text" ng-model="setting.Value" /> 
                        </umb-control-group>
                    </div>
                </umb-tab>
            </umb-pane>  
        </umb-tab-view>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <div class="btn-group">
                    <button ng-show="!isSaving" type="submit" data-hotkey="ctrl+s" class="btn btn-success" on>
                        <localize key="buttons_save">Save</localize>
                    </button>
                    <button ng-show="isSaving" type="submit" disabled data-hotkey="ctrl+s" class="btn btn-success" on>
                        <localize key="general_saving">Saving...</localize>
                    </button>                    
                </div>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>