<div ng-controller="fortress.setup.controller">
    <div id="login" class="umb-modalcolumn umb-dialog" >
        <div class="login-overlay__logo"> 
            <img 
                ng-src="assets/img/application/logo.png" 
                ng-srcset="assets/img/application/logo@2x.png 2x, assets/img/application/logo@3x.png 3x" 
                src="assets/img/application/logo.png" 
                srcset="assets/img/application/logo@2x.png 2x, assets/img/application/logo@3x.png 3x" 
            />
        </div>
        <div class="umb-login-container">
            <div class="form">
                <div ng-show="view == 'providerSelection'">
                    <h1 class="ng-binding">Specify your two-factor authentication option</h1>
                    <p>Due to the password policy of this website, you have to 
                        select an two-factor authentication option. This second 
                        factor makes sure that even if your password gets comprimised, 
                        another user cannot access your account.<br><br>
                        Click on of the allowed authentication options:
                    </p>
                    <div 
                        ng-repeat="provider in availableProviders" 
                        class="twoFactorProvider" 
                        ng-click="selectProvider(provider)"
                    >
                        <h3>
                            <input type="radio" id="email" name="twofactor">
                            <label for="email">{{provider}}</label>
                        </h3>
                    </div>
                </div>
                <div ng-show="view == 'loading'">
                    <h1>Loading... we won't be long</h1> 
                </div> 

                <div ng-show="view == 'setup-SMS'">
                    <form method="POST" name="configureSMSForm" ng-submit="configureSMS(phoneNumber)">
                            <p>Please enter your phone number including countrycode i.e. +447123456780</p>
                            <p></p>
                            <div class="control-group">
                                <input type="text" ng-model="phoneNumber" name="phoneNumber" class="input-xlarge" placeholder="Mobile number" />
                            </div>
                            <div>
                                <button type="submit" class="btn">Verify</button>
                            </div>
                        </form>
                </div>
                <div ng-show="view == 'verify-SMSProvider'">
                    <form method="POST" name="verifySMSForm" ng-submit="verifySMS(otp)">
                            <p>Please enter the code you recieved</p>
                            <div class="control-group">
                                <input type="text" ng-model="otp" name="otp" class="input-xlarge" placeholder="Enter your code" />
                            </div>
                            <div>
                                <button type="submit" class="btn">Verify</button>
                            </div>
                        </form>
                </div>

                <div ng-show="view == 'setup-GoogleAuthenticator'">
                    <form method="POST" name="configureGoogleAuthenticatorForm" ng-submit="verifyGoogleAuthenticator(googleAuthenticatorOTP)">
                            <p>Google Authenticator is a 2FA tool by Google that you can download for free from <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Play</a> for your Android phone or <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank">iTunes</a> for your iPhone.
                            <p>Once you've downloaded Google Authenticator, please open the app and scan this image, then enter the provided code.</p>
                            <p></p>
                            <div class="control-group">
                                <img id="imgQrCode" ng-src="{{googleAuthenticatorImage}}" />
                                <p>ManualSetup: {{googleAuthenticatorManual}}</p>
                            </div>
                            <div class="control-group">
                                <input type="text" ng-model="googleAuthenticatorOTP" name="googleAuthenticatorOTP" class="input-xlarge" placeholder="XXXXXX" />
                            </div>
                            <div>
                                <button type="submit" class="btn">Verify</button>
                            </div>
                        </form>
                </div>
            </div>            
        </div>
    </div>
</div>