<div ng-controller="fortress.smsProvider.controller">
    <div id="login" class="umb-modalcolumn umb-dialog" >
        <div class="login-overlay__logo"> 
            <img ng-src="assets/img/application/logo.png" ng-srcset="assets/img/application/logo@2x.png 2x, assets/img/application/logo@3x.png 3x" src="assets/img/application/logo.png" srcset="assets/img/application/logo@2x.png 2x, assets/img/application/logo@3x.png 3x">
        </div>
        <div class="umb-login-container">              
            <div class="form ">
                <h1 class="ng-binding"> <img src="/App_Plugins/TwoFactor/Images/Sms.png" alt="">SMS Athentication</h1>
                <div ng-show="view == 'submit2FA'">
                    <form method="POST" name="loginForm" ng-submit="submitValidation(otp)">
                        <p></p>
                        <ol>
                            <li>We have sent an sms to your mobile number ending with {{lastFourDigits}}</li>
                            <li>Enter the authentication code you have recieved</li>
                            <li>Click on 'Authenticate'</li>
                        </ol>
                        <p></p>
                        <div class="control-group">
                            <input type="text" ng-model="otp" name="otp" class="input-xlarge" placeholder="Enter your code" />
                        </div>
                        <div>
                            <input type="checkbox" id="cb"><label for="cb">This is a trusted computer and no second form of authentication is needed.</label>
                        </div>
                        <div>
                            <button type="submit" class="btn">Authenticate</button>
                        </div>
                    </form>
                </div>
                <div ng-show="view == 'loading'">
                    <h1>Sending Text</h1>
                </div>
            </div>
        </div>
    </div>
</div>