<form class="uProtect"
      name="twoFactorForm"
      ng-controller="fortress.twofactor.controller" 
      ng-submit="save()"
      val-form-manager>
    <!-- Two Factor -->
    <umb-editor-view>
        <umb-header>
            <div class="span7">
                <h1>{{tabs[0].label}}</h1>
            </div>
        </umb-header>
        <umb-load-indicator ng-show="!settingsLoaded"></umb-load-indicator>
        <umb-editor-container>
            <!-- Google Authenticator -->
            <umb-tab-view>  
                <umb-pane>
                    <umb-tab id="tabGoogleAuthenticator" rel="GoogleAuthenticator" class="active">             
                        <div>
                            <p>Google Authenticator is a free 2FA tool from Google that you can download for free from <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Play <i ng-class="value.icon" class="icon-out"></i></a> for your Android phone or <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank">iTunes <i ng-class="value.icon" class="icon-out"></i></a> for your iPhone.</p>
                            <p>Umbraco 2FA supports using Google Authenticator out of the box with no additional setup.</p>
                            <p>You can change your site name for the purposes of how it displays on the Google Authenticator app.</p>
                            <hr/>
                        </div>
                        <umb-control-group label="Site Name">
                            <input type="text" name="TwoFactor.SiteName" ng-model="data.authenticatorSettings.Name" /> 
                        </umb-control-group>
                        <umb-control-group label="Enabled">
                            <input type="checkbox" name="TwoFactor.Enabled" ng-model="data.authenticatorSettings.Enabled" /> 
                        </umb-control-group>
                        <umb-control-group label="Users"> 
                            <table class="table-striped table" id="table-sort">
                                <thead>
                                <tr>
                                    <th class="sort-header">Id</th>
                                    <th class="sort-header">Name</th>
                                    <th class="sort-header">Has 2Fa Setup</th>
                                    <th class="sort-header"></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="entry in data.authenticatorSettings.Users">
                                <tr ng-if="true">
                                    <td>{{entry.Id}}</td>
                                    <td>{{entry.Name}}</td>
                                    <td>{{entry.HasAccountEnabled}}</td>
                                    <td>
                                        <a ng-show="entry.HasAccountEnabled" href class="btn btn-danger" ng-click="removeAuthenticatorFromUser(entry.Id)"><localize key="remove">Remove</localize></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>  </umb-control-group>
                    </umb-tab>  
                </umb-pane>
            </umb-tab-view>
         
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <div class="btn-group">
                    <button ng-show="!isSaving" type="submit" data-hotkey="ctrl+s" class="btn btn-success" on>
                        <localize key="buttons_save">Save</localize>
                    </button>
                    <button ng-show="isSaving" type="submit" disabled data-hotkey="ctrl+s" class="btn btn-success" on>
                        <localize key="general_saving">Saving...</localize>
                    </button>                    
                </div>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>